@using ChartJs.Blazor;


@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Common.Axes.Ticks
@using ChartJs.Blazor.Common.Enums
@using ChartJs.Blazor.Common.Handlers
@using ChartJs.Blazor.Common.Time
@using ChartJs.Blazor.Util
@using ChartJs.Blazor.Interop

@using ChartJs.Blazor.LineChart
@using System.Net.Http.Headers
@using SportApp.Shared.Services;
@using System.IO;
@using SportApp.Shared.ViewModel;

@inject IActivityServices LocalActivityServices

@*<button @onclick="Update"></button>*@

    <Chart Config="_config" Height="80" @ref="_chart"></Chart>

@code {

    [Parameter]
    public int trainingId { get; set; }
    [Parameter]
    public EventCallback<int> trainingIdChanged { get; set; }


    private LineConfig _config;
    private Chart _chart;

    protected override void OnInitialized()
    {
        _config = new LineConfig
        {
            Options = new LineOptions
            {
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Calories"
                },
                Tooltips = new Tooltips
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Hover = new Hover
                {
                    Mode = InteractionMode.Nearest,
                    Intersect = true
                },
                Scales = new Scales
                {
                    XAxes = new List<CartesianAxis>
{
                        new LinearCartesianAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Month"
                            }
                        }
                    },
                    YAxes = new List<CartesianAxis>
{
                        new LinearCartesianAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Value"
                            }
                        }
                    }
                }
            }
        };
        List<Point> s = new List<Point>();

        IDataset<Point> dataset1 = new LineDataset<Point>(s)
        {
            Label = "Calories burn",
            BackgroundColor = ColorUtil.ColorHexString(252, 3, 3),
            BorderColor = ColorUtil.ColorHexString(252, 3, 3),
            Fill = FillingMode.Disabled,
            PointBorderWidth = 0,
            SteppedLine = SteppedLine.False,
            LineTension = 0,
        };

        _config.Data.Datasets.Add(dataset1);
        Update();
    }


    IDataset<Point> dataset1;

    async void Update()
    {
        dataset1 = (IDataset<Point>)_config.Data.Datasets[0];
        dataset1.Clear();

        List<CaloriesGraph> calories = await LocalActivityServices.GetCalories(trainingId);

        calories.Sort((t1, t2) => t1.Time.CompareTo(t2.Time));


        double PreviousTime = 0;
        foreach (var y in calories)
        {
            if (y.Calories != 0)
            {
                dataset1.Add((new Point((double)y.Time, y.Calories)));
                //dataset1.Add((new Point((double)y.Time, y.Calories)));
                PreviousTime = y.Time;
            }
        }

        _config.Data.Datasets[0] = dataset1;

        _chart.Update();
    }

}

